<div class="img-box" class="left-side">
  <button [routerLink]="'/home'"  class="home-button" mat-stroked-button color="primary">Back to Home</button>
  <span class="login-img">
    <img alt="atm-photo" class="left-side" src='../../../assets/images/login-img.png' width="90%">
  </span>
</div>
<div class="right-side">
  <div class="container-login">
    <div class="wrap-login">
                <span class="login-logo-img">
                    <img alt="logo" src='../../../assets/images/bank-logo.png' width="100%">
                </span>
      <span class="login-form-title">
                    INSERT CARD
        </span>
      <form class="login-form" [formGroup]="signInForm">
        <mat-form-field class="input-field" appearance="fill">
          <mat-label>Card Number</mat-label>
          <input type="cardNumber" matInput formControlName="cardNumber" required>
          <mat-error *ngIf="signInForm.hasError('required')">
            Card Number is <strong>required</strong>
          </mat-error>
          <mat-hint *ngIf="!cardNumberInput.value">Enter username</mat-hint>
        </mat-form-field>

        <mat-form-field class="input-field" appearance="fill">
          <mat-label>Cvv</mat-label>
          <input matInput formControlName="cvv" required>
          <mat-hint *ngIf="!cvvInput.value">Enter cvv</mat-hint>
        </mat-form-field>

        <mat-form-field class="input-field" appearance="fill">
          <mat-label>Pin</mat-label>
          <input matInput formControlName="pin" required>
          <mat-hint *ngIf="!pinInput.value">Enter pin</mat-hint>
        </mat-form-field>

      </form>
      <span class="login-form-btn" >
               <button mat-raised-button color="primary" class="login-button" (click)="auth()">Login</button>
            </span>
    </div>
  </div>
</div>
