<div class="position-login-client">
  <form class="login-form" [formGroup]="signInForm">
    <mat-form-field class="input-field" appearance="fill">
      <mat-label>Card Number</mat-label>
      <input type="cardNumber" matInput formControlName="cardNumber" required>
      <mat-error *ngIf="signInForm.hasError('required')">
        Card Number is <strong>required</strong>
      </mat-error>
      <mat-hint *ngIf="!cardNumberInput.value">Enter username</mat-hint>
    </mat-form-field>
    <mat-form-field class="input-field" appearance="fill">
      <mat-label>Cvv</mat-label>
      <input matInput formControlName="cvv" required>
      <mat-hint *ngIf="!cvvInput.value">Enter cvv</mat-hint>
    </mat-form-field>
    <mat-form-field class="input-field" appearance="fill">
      <mat-label>Pin</mat-label>
      <input matInput formControlName="pin" required>
      <mat-hint *ngIf="!pinInput.value">Enter pin</mat-hint>
    </mat-form-field>
  </form>
  <button mat-raised-button color="primary" class="login-button" (click)="auth()">Login</button>
</div>
