<body class="funds-page">
<app-toolbar-admin></app-toolbar-admin>
<div class="funds">
  <mat-form-field appearance="fill">
    <mat-label>Select an atm</mat-label>
    <mat-select>
      <mat-option *ngFor="let atm of atms" [value]="atm?.location" (onSelectionChange)="updateSelected(atm)" required>
        {{atm.location}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <hr>

  <mat-grid-list class="grid-size" cols="3" rowHeight="2:1">
    <div *ngFor="let bankNote of bankNotes; let idx = index">
      <mat-grid-tile>
        <br>
        <mat-form-field class="field" appearance="fill">
          <mat-label>Banknote {{bankNote}}</mat-label>
          <input matInput placeholder="Ex. 100"
                 [(ngModel)]="selectedAtm?.banknoteFunds[bankNotes.indexOf(bankNote)].amount">
        </mat-form-field>
      </mat-grid-tile>
    </div>
  </mat-grid-list>

    <button class="btn-xl" mat-raised-button color="primary" (click)="addFunds()">Add funds</button>
</div>
</body>
