<body>
<button [routerLink]="'/login-admin'"  class="admin-button" mat-stroked-button color="accent">Login Admin</button>
<header [ngStyle]="{ 'width': innerWidth, 'height': innerHeight }" class="masthead">
  <div class="container" id="writingplace">
    <h2 class="masthead-subheading">Welcome to the ATM</h2>
    <h1 class="masthead-heading text-uppercase">SAVE MORE. SPEND LESS.</h1>
    <button [routerLink]="'/card-auth'" class="btn-xl" mat-raised-button color="accent">Insert Card</button>
  </div>
</header>
</body>
