* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.left-side {
  position: absolute;
  left: 0px;
  height: 100%;
  min-width: 50%;
  margin: auto;
  padding: 20px;
}

.right-side {
  background: white;
  width: 50%;
  position: absolute;
  right: 0px;
  height: 100%;
}

.img-box {
  display: grid;
  height: 100%;
}

.login-img {
  display: block;
  line-height: 1.2;
  text-align: center;
  margin-bottom: 24px;
}



/*//////////////////////////////////////////////////////////////////
[ login-admin ]*/

.container-login {
  width: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;
  background: white;
}

.wrap-login {
  width: 360px;
  border-radius: 10px;
  overflow: hidden;
  padding: 77px 55px 33px 55px;
}


/*------------------------------------------------------------------
[ Form ]*/

.login-logo-img {
  display: block;
  line-height: 1.2;
  text-align: center;
  margin-bottom: 24px;
}

.login-form-title {
  display: block;
  font-family: Montserrat-SemiBold;
  margin-bottom: 20px;
  font-size: 38px;
  color: #005986;
  line-height: 1.2;
  text-align: center;
}
.login-form-title i {
  font-size: 60px;
}

/*------------------------------------------------------------------
[ Input ]*/

.input-field {
  width: 100%;
  height: 50%;
}

/*------------------------------------------------------------------
[ Button ]*/
.container-login-form-btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 30px;
}

.login-form-btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  width: 100%;
  height: 50px;
}

.login-button {
  background-color: #005986;
  color: white;

  width: 50%;
  border-radius: 20px;
  padding: 3px 3px 3px 3px;
  margin: 30px 0 0 0;

}
