<div class="img-box" class="left-side">
  <span class="login-img">
    <img alt="atm-photo" class="left-side" src='../../../assets/images/login-img.png' width="90%">
  </span>
</div>
<div class="right-side">
  <div class="container-login">
    <div class="wrap-login">
                <span class="login-logo-img">
                    <img alt="logo" src='../../../assets/images/bank-logo.png' width="100%">
                </span>
        <span class="login-form-title">
                    ATM Admin
        </span>
      <form class="login-form" [formGroup]="signInForm">
           <mat-form-field class="input-field" appearance="fill">
            <mat-label>Username</mat-label>
            <input type="username" matInput formControlName="username" (keydown)="pressLogin($event)" required>
            <mat-error *ngIf="signInForm.hasError('required')">
              Username is <strong>required</strong>
            </mat-error>
            <mat-hint *ngIf="!usernameInput.value">Enter username</mat-hint>
          </mat-form-field>
        <mat-form-field class="input-field" appearance="fill">
          <mat-label>Password</mat-label>
          <input matInput [type]="hide ? 'password' : 'text'" formControlName="password" (keydown)="pressLogin($event)" required>
          <mat-icon matSuffix (click)="hide = !hide">{{ hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          <mat-hint *ngIf="!passwordInput.value">Enter password</mat-hint>
        </mat-form-field>
      </form>
            <span class="login-form-btn" >
              <button mat-raised-button class="login-button" (click)="login()" >Login</button>
            </span>
        </div>
  </div>
</div>
