.withdraw-functionality {
  position: fixed;
  top: 30%;
  left: 20px;
}

.balance-display {
  margin-left: 20px;
}

.balance-card {
  margin-top: 40px;
  margin-left: 20px;
  max-width: 350px;
  background-color: darkseagreen;
}
